:root{
  --primary:#d62828; 
  --secondary:#f77f00; 
  --accent:#fcbf49; 
  --bg:#fffaf3; 
  --text:#2b2b2b;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg);
  color: var(--text);
}


.hero {
  position: relative;
  height: 65vh;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  overflow: hidden;
}


.hero::before {
  content: "";
  position: absolute;
  inset: 0;

  background: url('../img/capalanche.jpg.jpg') center/cover no-repeat;

  filter: blur(1px) brightness(0.7);
  transform: scale(1.1);

  z-index: 0;
}


.hero::after {
  content: "";
  position: absolute;
  inset: 0;

  background: rgba(0,0,0,0.5);

  z-index: 1;
}

.hero .container {
  position: relative;
  z-index: 2;
}


.navbar {
  background: linear-gradient(90deg, var(--secondary), var(--primary)) !important;
  box-shadow: 0 2px 12px rgba(0,0,0,0.15);
  height: 80px;
}

.navbar-brand img {
  height: 70px;
}

.navbar .nav-link {
  color: #fff !important;
  font-weight: 500;
}

.navbar .nav-link:hover {
  color: var(--accent) !important;
}


.btn-warning {
  background: linear-gradient(45deg, var(--secondary), var(--primary));
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
}

.btn-warning:hover {
  opacity: 0.9;
}

.btn-success {
  background-color: #25d366;
  border: none;
  border-radius: 30px;
  font-weight: bold;
}


.burger-card img {
  height: 200px;
  object-fit: cover;
}

.card {
  background-color: #fff;
  border: none;
  border-radius: 20px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}


.price {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--primary);
}

.old-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 8px;
}


.badge-promo {
  position: absolute;
  top: 10px;
  left: 10px;
}


footer {
  background: linear-gradient(90deg, var(--secondary), var(--primary));
  color: white;
  padding: 20px 0;
  margin-top: 40px;
}
